[user]
	name = Michael Fairley
	email = michaelfairley@gmail.com

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[alias]
	caan = commit -a --amend --no-edit
	cam = commit -a -m
	co = checkout
	p = push
	d = diff
	ds = diff --staged
	t = status
[core]
	excludesfile = ~/.gitignore
	pager = /opt/homebrew/Cellar/git/2.36.1/share/git-core/contrib/diff-highlight/diff-highlight | less
[push]
	default = current
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[init]
	defaultBranch = main
